// Bottom Form Section

.bottom_form{

    //  Bottom Form Box Top   
        &_box{
           max-width:1170px;
           margin: 0 auto;
           @include flex-column;
    
        }
        &_img_top{
            @include flex-around;
            margin-top: 8px;
        }
        &_stars_left{
           max-width: 83px;
           max-height: 50px;
           position: relative;
           left: 108px;
           top: 51px;
        }
        &_orange_planet{
           max-width: 30px;
           max-height: 30px;
           position: relative;
           top: 41px;
           left: 210px;
        }
        &_cloud_right{
            position: relative;
            top: 19px;
            left: 150px;
        }
    
    // Bottom Form
        &_element{
            @include flex;
        }
        &_moon{
            max-width:85px ;
            max-height: 85px;
            position: relative;
            left: 46px;
            bottom: 18px;
        }
        &_text_here{
            max-width:107px ;
            max-height:62px ;
            position: relative;
            left: 61px;
            top: 34px;
        }
        &_astronaut{
            max-width:160px ;
            max-height:183px;
            position: relative;
            right: 37px;
            top: 173px;
    
        }
        &_position{
            width: 375px;
            height: 240px;
            border-radius: 11px;
            background-color: rgba(255, 255, 255, 0.1);
            @include flex-column;
            @include center-position;
            position: relative;
            top: 42px;
            right: 50px;
        }
        &_input{
            position: relative;
            bottom: 19px;
        }
        &_label{
            position: relative;
            bottom: 20px;
        }
        &_btn{
            position: relative;
            top: 7px;
        }
        &_man_near{
            max-width:390px;
            max-height:380px;
            position: relative;
            right: 35px;
        }
    
    //Bottom Img Footer
        &_cloud_lef{
            max-width:233px;
            max-height:57px;
            position: relative;
            bottom: 60px;
            right: 118px;  
        }
        &_green_planet_2{
            width: 137px;
            height: 137px;
            position: relative;
            bottom: 29px;
            left: 290px;  
        }
    }