// We Offer
.offer{
    background-color: $primary-color;
    position: relative;

//Violet Splash Near
    &_violet_splash_near{
        position: absolute;
        top: 250px;
        right: 550px;
      }

// Offer Box Icons
    &_box_icons{
        max-width: 1170px;
        margin: 0 auto;
    }
    &_arrow1{
        position: relative;
        left: 170px;
        bottom: 8px;
    }
    &_arrow2{
        position: relative;
        left: 115px;
        top: 25px;  
    }
    &_arrow3{
        position: relative;
        left: 350px;
        top: 26px; 
    }
    &_arrow4{
        position: relative;
        left: 350px;
    }
    &_icons-cirkle{
        @include flex-around;

    }
    &_title_h2{
       font-size: 30px;
       font-family:$font-primary;
       color:$lilac-color;
       text-transform: uppercase;
       width: 399px;
       height:57px;
       border-radius: 30px;
       background-color: #813982;
       @include center-position;
       position: relative;
       top: 32px;
       left: 581px;
        
    }
    &_icons{
        width: 68px;
        height: 62px;
        fill:$lilac-color;
        display: inline-block;
        // margin-bottom: 30px;

    }
    &_cirkle{
        border-radius: 50%;
        background-color:$purpur-color;
        width: 266px;
        height: 265px;
        @include flex-column;
        @include center-position;
        text-align: center;
        
    }
    &_icons_title{
        font-size: 20px;
        font-family:$font-secondary;
        color:$secondary-color;
        max-width: 200px;
        line-height: 1.31; 
        margin-top: 21px;     
    }
    &_title_salary-widht{
        max-width: 195px;
    }
    &_title_workspace-widht{
        max-width: 100px;
    }

// Offer Box Title
    &_box_title{
        max-width: 820px;
        margin: 0 auto;
        text-align: justify;
        padding-top: 86px;
    }
    &_title{
        font-size: 29px;
        font-family: $font-secondary;
        line-height: 1.2;
    }
    &_title-normall{
        color:$secondary-color;
        font-weight: 400;
    }
    &_title-lihght{
        color:$yellow-color;
        font-weight: 300;
    }
    &_title-bold{
        color:$yellow-color;
        font-weight: bold;
        margin: 0 auto;
    }
    &_title-centr{
        margin: 0 0 0 275px;
    }
}

//  @media screen and ( min-width: 375px) {

// //We Offer
//  .offer {  

//     &_violet_splash_near{
//         display: none;
//     }
//     &_arrow-none{
//         display: none;
//     }
// } 

// }
