@font-face {
    font-family: 'Cocon';
    src: url('Cocon-Regular.eot');
    src: url('Cocon-Regular.eot?#iefix') format('embedded-opentype'),
        url('Cocon-Regular.woff2') format('woff2'),
        url('Cocon-Regular.woff') format('woff'),
        url('Cocon-Regular.ttf') format('truetype'),
        url('Cocon-Regular.svg#Cocon-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-BlackItalic.eot');
    src: url('Exo20-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Exo20-BlackItalic.woff2') format('woff2'),
        url('Exo20-BlackItalic.woff') format('woff'),
        url('Exo20-BlackItalic.ttf') format('truetype'),
        url('Exo20-BlackItalic.svg#Exo2.0-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0 Extra';
    src: url('Exo20-ExtraLight.eot');
    src: url('Exo20-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Exo20-ExtraLight.woff2') format('woff2'),
        url('Exo20-ExtraLight.woff') format('woff'),
        url('Exo20-ExtraLight.ttf') format('truetype'),
        url('Exo20-ExtraLight.svg#Exo2.0-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-Black.eot');
    src: url('Exo20-Black.eot?#iefix') format('embedded-opentype'),
        url('Exo20-Black.woff2') format('woff2'),
        url('Exo20-Black.woff') format('woff'),
        url('Exo20-Black.ttf') format('truetype'),
        url('Exo20-Black.svg#Exo2.0-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-ThinItalic.eot');
    src: url('Exo20-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Exo20-ThinItalic.woff2') format('woff2'),
        url('Exo20-ThinItalic.woff') format('woff'),
        url('Exo20-ThinItalic.ttf') format('truetype'),
        url('Exo20-ThinItalic.svg#Exo2.0-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0 Semi';
    src: url('Exo20-SemiBold.eot');
    src: url('Exo20-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Exo20-SemiBold.woff2') format('woff2'),
        url('Exo20-SemiBold.woff') format('woff'),
        url('Exo20-SemiBold.ttf') format('truetype'),
        url('Exo20-SemiBold.svg#Exo2.0-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-Thin.eot');
    src: url('Exo20-Thin.eot?#iefix') format('embedded-opentype'),
        url('Exo20-Thin.woff2') format('woff2'),
        url('Exo20-Thin.woff') format('woff'),
        url('Exo20-Thin.ttf') format('truetype'),
        url('Exo20-Thin.svg#Exo2.0-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-Medium.eot');
    src: url('Exo20-Medium.eot?#iefix') format('embedded-opentype'),
        url('Exo20-Medium.woff2') format('woff2'),
        url('Exo20-Medium.woff') format('woff'),
        url('Exo20-Medium.ttf') format('truetype'),
        url('Exo20-Medium.svg#Exo2.0-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0 Extra';
    src: url('Exo20-ExtraLightItalic.eot');
    src: url('Exo20-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Exo20-ExtraLightItalic.woff2') format('woff2'),
        url('Exo20-ExtraLightItalic.woff') format('woff'),
        url('Exo20-ExtraLightItalic.ttf') format('truetype'),
        url('Exo20-ExtraLightItalic.svg#Exo2.0-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0 Semi';
    src: url('Exo20-SemiBoldItalic.eot');
    src: url('Exo20-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Exo20-SemiBoldItalic.woff2') format('woff2'),
        url('Exo20-SemiBoldItalic.woff') format('woff'),
        url('Exo20-SemiBoldItalic.ttf') format('truetype'),
        url('Exo20-SemiBoldItalic.svg#Exo2.0-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-Light.eot');
    src: url('Exo20-Light.eot?#iefix') format('embedded-opentype'),
        url('Exo20-Light.woff2') format('woff2'),
        url('Exo20-Light.woff') format('woff'),
        url('Exo20-Light.ttf') format('truetype'),
        url('Exo20-Light.svg#Exo2.0-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0 Extra';
    src: url('Exo20-ExtraBold.eot');
    src: url('Exo20-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Exo20-ExtraBold.woff2') format('woff2'),
        url('Exo20-ExtraBold.woff') format('woff'),
        url('Exo20-ExtraBold.ttf') format('truetype'),
        url('Exo20-ExtraBold.svg#Exo2.0-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-LightItalic.eot');
    src: url('Exo20-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Exo20-LightItalic.woff2') format('woff2'),
        url('Exo20-LightItalic.woff') format('woff'),
        url('Exo20-LightItalic.ttf') format('truetype'),
        url('Exo20-LightItalic.svg#Exo2.0-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-BoldItalic.eot');
    src: url('Exo20-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Exo20-BoldItalic.woff2') format('woff2'),
        url('Exo20-BoldItalic.woff') format('woff'),
        url('Exo20-BoldItalic.ttf') format('truetype'),
        url('Exo20-BoldItalic.svg#Exo2.0-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0 Extra';
    src: url('Exo20-ExtraBoldItalic.eot');
    src: url('Exo20-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Exo20-ExtraBoldItalic.woff2') format('woff2'),
        url('Exo20-ExtraBoldItalic.woff') format('woff'),
        url('Exo20-ExtraBoldItalic.ttf') format('truetype'),
        url('Exo20-ExtraBoldItalic.svg#Exo2.0-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-Italic.eot');
    src: url('Exo20-Italic.eot?#iefix') format('embedded-opentype'),
        url('Exo20-Italic.woff2') format('woff2'),
        url('Exo20-Italic.woff') format('woff'),
        url('Exo20-Italic.ttf') format('truetype'),
        url('Exo20-Italic.svg#Exo2.0-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-MediumItalic.eot');
    src: url('Exo20-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Exo20-MediumItalic.woff2') format('woff2'),
        url('Exo20-MediumItalic.woff') format('woff'),
        url('Exo20-MediumItalic.ttf') format('truetype'),
        url('Exo20-MediumItalic.svg#Exo2.0-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-Regular.eot');
    src: url('Exo20-Regular.eot?#iefix') format('embedded-opentype'),
        url('Exo20-Regular.woff2') format('woff2'),
        url('Exo20-Regular.woff') format('woff'),
        url('Exo20-Regular.ttf') format('truetype'),
        url('Exo20-Regular.svg#Exo2.0-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-Bold.eot');
    src: url('Exo20-Bold.eot?#iefix') format('embedded-opentype'),
        url('Exo20-Bold.woff2') format('woff2'),
        url('Exo20-Bold.woff') format('woff'),
        url('Exo20-Bold.ttf') format('truetype'),
        url('Exo20-Bold.svg#Exo2.0-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

