
$primary-color: #241537;
$secondary-color:#ffffff;
$yellow-color:#fdb000;
$light-yellow-color:#ffd34e;
$purpur-color:#401751;
$lilac-color:#ebdae6;


$font-primary: 'Cocon-Regular', sans-serif;
$font-size-primary: 36px;
$font-secondary: 'Exo2.0 Regular', sans-serif;

$tablet: 768px;
$mobile: (min-widht: 320px);